body {
  font-family: "roboto";
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
#home {
  margin-top: 12px;
}
.home-owl-stage {
  margin-top: 10px;
  padding: 0 144px;
}
.home-owl-item {
  padding: 0 5px;
}
.home-product-feature,
.home-product-sold,
.home-product-promotion {
  margin-top: 50px;
  padding: 0 108px;
}
.home-item-product-feature {
  height: auto;
}
.home-item-feature-name {
  height: 28px;
}
.card-text {
  margin-bottom: 0;
}
.slick-slide {
  padding: 0 5px;
}
.home-title-section {
  text-align: center;
  margin: 30px;
}
.home-title-section a {
  padding: 8px;
  border-top: 1px solid #034b4e;
  border-bottom: 1px solid #034b4e;
  color: #07bac1;
  font-weight: 600;
}
.home-item-product-feature {
  display: inline-block;
  position: relative;
}
.home-btn-item-product {
  position: absolute;
  top: 60%;
  cursor: pointer;
  transform: translate(0);
  display: none;
}
.home-item-product-feature:hover .home-btn-item-product {
  display: block;
}
.home-add-to-card {
  background-color: #2f6fea;
  border: none;
  margin-right: 5px;
}
.home-add-to-card:hover {
  background-color: #3f79eb;
}
.home-buy-now {
  background-color: #eb4e2d;
  border: none;
  margin-left: 5px;
}
.home-buy-now a {
  color: #f7f7f7;
}
.home-buy-now:hover {
  background-color: #ec5b3d;
  color: #f7f7f7;
}
.home-item-product-price {
  display: flex;
  align-items: flex-end;
}
.home-item-price {
  font-size: 2vh;
  margin-bottom: 0;
  text-decoration: line-through;
}
.home-item-price-promotion {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 2.5vh;
}