#product {
  padding: 0 108px;
  margin-bottom: 12px;
}
.flow-user {
  padding: 8px;
}
li {
  list-style: none;
}
.product-menu-item h5 {
  background-color: #046b6f;
  color: #fff;
  padding: 8px;
}
.product-menu-item li {
  padding-left: 10px;
  padding-bottom: 20px;
}
.product-menu-item li a {
  color: #000;
}
.product-menu-item {
  padding-left: 0;
  border: 1px ridge #444;
}
li.product-list-menu-item:hover a {
  color: orange;
  transition: 0.7s;
}
.product-list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-item-all-list {
  width: 25%;
  padding: 0.5em;
  margin-bottom: 20px;
  border-radius: 5px;
}
.product-price {
    color: #046b6f;
    font-weight: 600;
    font-size: 16px;
}
.card-body {
    padding: 8px;
}
.product_category {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0.5em;
}
.product-category_select {
  border: none;
  display: flex;
  align-items: center;
  height: 2em;
  border-bottom: 2px solid gray;
  padding: 0 1em;
  background-color: #fdfcf6;
}
.product-category {
  display: flex;
  align-items: flex-end;
  float: right;
  padding-left: 0 !important;
  margin: 0;
}
.product-category-item {
  margin:0 20px;
}
.product_input {
  margin-right: 5px;
}
.product__list {
  width: 20%;
  padding-right: 0.5em;
}
.product__list__item {
  width: 100%;
}
.product-item {
  display: flex;
}
.product__list__item h3 {
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .product-item-all-list {
    width: 33%;
  }
}
@media only screen and (max-width: 768px) {
  #product {
    padding: 0;
  }
  .product-item-all-list {
    width: 33%;
  }
}
@media only screen and (max-width: 426px) {
  .product-item-all-list {
    width: 50%;
  }
}
@media only screen and (max-width: 320px) {
  .product-item-all-list {
    width: 100%;
  }
}