* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fdfcf6;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  padding: 0;
}
.navbar {
  background-color: white !important;
}
.header-container {
  padding: 10px 0;
}
.header-logo img {
  width: 5em;
  height: auto;
  margin: auto;
  padding: 0 8px;
}
.header-input-search {
  display: flex;
  align-items: center;
}

.header-icon-user button {
  margin-left: 5px;
}
.me-auto {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0 !important;
  width: fit-content;
}
.navbar-collapse {
  justify-content: space-between;
}
.header__shopping,
.header__user {
  color: #5e685a;
  font-weight: 400;
  font-size: 1.5em;
}
.header__shopping {
  position: relative;
  padding: 0 1em;
}
.badge {
  position: absolute;
  background: #ff785f !important;
  font-size: 0.4em;
  border-radius: 5em;
}
.nav-link {
  transition: 0.7s;
}
.nav-link:hover {
  color: #feb552;
}

